Django==4.2.10
beautifulsoup4==4.12.3
requests==2.32.3
django-cors-headers==4.0.0
python-dotenv==1.0.1
djangorestframework==3.15.1
social-auth-app-django==<version>
mysqlclient==2.2.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
